* {
    font-family: 'Segoe UI';
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 738px;
    position: fixed;
    background-color: white;
}

#label-container {
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
    color: #4FB4A2;
    position: absolute;
    bottom: 16px;
    width: 360px;
    height: 88px;
    line-height: 88px;
    text-align: center;
}